/* Moving patchwork */

html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(15deg, #111, #433, #111);
    color: #ccc;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    display: inline;
    color: hsl(161, 76%, 32%);
    writing-mode: vertical-lr;
    letter-spacing: .1em;
    rotate: 180deg;
}

#canvas {
    border: 1px dotted hsl(271, 76%, 53%);
    margin: 0 1em;
    /* animation: 60s linear 5s rotate3d; */
    position: relative;
    z-index: -1;
}

#startButton, #stopButton {
    display: block;
    margin: 1em;
    border: 2px solid blueviolet;
    background-color: black;
    color: gray;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
}

footer {
    position: fixed;
    padding: 1em;
    bottom: 0;
    right: 0;
    color: gray;
}

@keyframes rotate3d {
    from {
        rotate: 1 2 3 0deg;
    }
    to {
        rotate: 1 2 3 360deg;
    }
}

